.user-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-logout {
    cursor: pointer;
    background-color: #C52F0C;
    border: 0;
    border-radius: 0.7rem;
    color: #F6ECE2;
    font-weight: bold;
    font-size: 1rem;
    height: 2.5rem;
    width: 5rem;
}

.button-logout:hover {
    background-color: #D15521;
}

@media screen and (max-width: 600px) {
    .user-name {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .button-logout {
        margin-top: 0.5rem;
        width: 10rem;
    }
}